[submodule "ImRepositoryPattern"]
	path = ImRepositoryPattern
	url = https://github.com/immmdreza/ImRepositoryPattern.git
[submodule "ZarinpalSharp"]
	path = ZarinpalSharp
	url = https://github.com/immmdreza/ZarinpalSharp.git
[submodule "SimpleUpdateHandler"]
	path = SimpleUpdateHandler
	url = https://github.com/immmdreza/SimpleUpdateHandler.git
